*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
    gap: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(188, 229, 243);
}

main > section > .gameboard {
    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
    width: clamp(350px,60vw,600px);
    height: clamp(350px,60vw,600px);
    border: solid 0.5px black;
    background-color: white;
}

section + button {
    padding: 1rem;
    /* border-radius: 30px 30px 20px 20px; */
    /* border:none; */
    /* box-shadow: 1px 1px 1px black; */
    cursor: pointer;
}

.gameboard > div {
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.gameboard > div:nth-child(4),
.gameboard > div:nth-child(5),
.gameboard > div:nth-child(6){
    border-top:4px solid black;
    border-bottom:4px solid black;
}

.gameboard > div:nth-child(2),
.gameboard > div:nth-child(5),
.gameboard > div:nth-child(8){
    border-right:4px solid black;
    border-left:4px solid black;
}

.gameboard > .first-player {
    color: rgb(67, 125, 211);
}

.gameboard > .second-player {
    color: red;
}

.gameboard > .first-player,
.gameboard > .second-player{ font-size: clamp(3rem, 9vw, 30rem); }
